<nav style="border-bottom: 20px" class="navbar container-fluid navbar-dark bg-info fixed-bottom">
  <div class='mx-auto'>
    {{! Transfer line style to css stylesheet}}
    <h6 class="text-light"><i style="margin: 5px" class="far fa-fw fa-copyright"></i>Copyright Online Journal<small style="margin: 5px"
        class="text-light">2018</small></h6>
  </div>
</nav>