<div class="container-fluid text-center">
  <h1 class="display-4 mb-4">About Online Journal</h1>
</div>
<div class="container-fluid">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus
    dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus dicta sit neque, sed natus
    eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus dicta sit neque, sed natus eum aut repudiandae nostrum
    unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis
    ad itaque, distinctio nulla temporibus dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius
    minus.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus
    dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis ad itaque,
    distinctio nulla temporibus dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus
    dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus dicta sit neque, sed natus
    eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus dicta sit neque, sed natus eum aut repudiandae nostrum
    unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis
    ad itaque, distinctio nulla temporibus dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius
    minus?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti perspiciatis ad itaque, distinctio nulla temporibus
    dicta sit neque, sed natus eum aut repudiandae nostrum unde rerum recusandae eius minus est? Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. </p>
</div>