{{! Transfer style to css stylesheet}}
<div style="background-color:whitesmoke" class="jumbotron text-center">
  <h1 class="display-4 mb-2">Welcome to Online Journal</h1>
  <h5 class="mb-5">"A safe and secure place to write down your thoughts!"</h5>
  <div>{{! Transfer styles to style sheet}}
    <a class="col-sm-4 btn btn-outline-info btn-lg mb-2">Sign up<i style="margin: 5px" class="fas fa-fw fa-user-plus" id="sign-up"></i>
    </a>
    <br> {{! Transfer styles to style sheet}}
    <a class="col-sm-4 btn btn-outline-info btn-lg mb-2">Login<i style="margin: 5px" class="fas fa-fw fa-sign-in-alt" id="login"></i>
    </a>
  </div>
</div>
</div>